<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <%= render @user %>
  </div>
  <div class="col-md-4">
    <%= render 'shared/user_info' %>
  </div>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
